/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-mei-2015, 16:41:00
    Author     : Wiemer
*/

body{
    font-family: Helvetica;
    font-size:12px;
    padding: auto;
    margin:20px;
    
}


.hoofdmenubutton{
    padding:10px;
    width:200px;
}


.hoofdmenubutton:hover{
    -webkit-animation: cssAnimation 2.3046s 1 ease;
    -moz-animation: cssAnimation 2.3046s 1 ease;
    -o-animation: cssAnimation 2.3046s 1 ease;
}
@-webkit-keyframes cssAnimation {
    from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
    to { -webkit-transform: rotate(147deg) scale(1.028) skew(-38deg) translate(-300px); }
}
@-moz-keyframes cssAnimation {
    from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
    to { -moz-transform: rotate(147deg) scale(1.028) skew(-38deg) translate(-300px); }
}
@-o-keyframes cssAnimation {
    from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
    to { -o-transform: rotate(147deg) scale(1.028) skew(-38deg) translate(-300px); }
}

table{   
    margin:10px;
    
}

.wijzig{
    width:700px;
    padding: 10px;
    border-radius: 10px;
    border:2px dashed darkcyan;
}

input{
    font-size:12px;
}

.wijzig h3{
    font-size: 20px;
    color: darkcyan;
}

.tabelheader{
    font-weight:bold;
    color: darkcyan;

}

.error {
    color: #ff0000;
}

tr{

}

td{
    padding: 5px;

}

.element{
    border-radius: 10px;
}

.element:hover{
    background-color:lightblue;

}


h2{
    color: darkcyan;
    font-size:24px;
}

